{% extends "common/base.html" %}
{% block conteudo %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5 form_container">
	<h1 style="margin-bottom: 4rem;">Registrar</h1>
	
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="button__register" type="submit">Register</button>
	</form>
	<hr class="line">
	<p class="text-center">Se você já é registrado faça <a href="/login">login</a>.</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
